{% extends 'base.html.twig' %}

{% block title %}Game{% endblock %}

{% block body %}
    <h1>Match n° : {{ game.description }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Gagnant</th>
                <td>{{ game.winner }}</td>
            </tr>
            <tr>
                <th>Perdant</th>
                <td>{{ game.defeated }}</td>
            
            
        </tbody>
    </table>
    <a href="{{ path('app_tournament_show', {'id': game.tournament.id}) }}">Retour à la liste</a>

{% endblock %}
