<form method="post" action="{{ path('app_tournament_delete', {'id': tournament.id}) }}"
      onsubmit="return confirm('Voulez vous vraiment supprimer  {{ tournament.title }} ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ tournament.id) }}">
    <button class="btn delete">Delete</button>
</form>
