{% extends 'base.html.twig' %}

{% block title %}New Tournament{% endblock %}

{% block body %}
    <h1>Créer un nouveau tournoi</h1>

    {{ include('tournament/_form.html.twig') }}

    <a href="{{ path('app_tournament_index') }}">Retour à la liste</a>
{% endblock %}
